header
{
    letter-spacing: 3px;
    word-spacing: 4px;
    text-align: center;
    margin-top: 20px;
}
body
{
    margin: 0;
}
.section
{
    background-color: black;
    height:400px;
    margin-top: 100px;
}
.section1
{
    text-align: center;
    width: 250px;
    height: 200px;
    padding-left: 120px;
    padding-top: 130px;
    display: inline-block;
    color:white;

}
i
{
  transition: all 2s ease;
    font-size: 30px;
    color:white;
}
i:hover
{
    color:#ff593f;
}
i:hover ~ h3
{
    color:#ebef70;
}
i:hover ~ h4
{
    color:#71e5f2;
}
h3,h4{
    letter-spacing: 3px;
    word-spacing: 3px;
    line-height: 8px;
}
